<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="my-1 bg-body rounded shadow-sm">
                <p class="lead">Create a new Quote</p>
                <hr>
                <div class="d-flex text-muted pt-3" *ngFor='let quote of quotes  let i=index'>
                    <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"></rect><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text></svg>

                    <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
                        <div class="d-flex justify-content-between">
                            <strong class="text-gray-dark" [appHighlight]='color'>{{quote.quote}}</strong>
                            <a href="#" (click)="toggleQuote(i)">More Details</a>
                        </div>
                        <span>@{{quote.author}}</span>
                        <div *ngIf="quote.showDescription" class="d-block">
                            <app-quote-detail [quote]='quote' (isComlete)='deleteQuote($event,i)' (isClicked)='downVoteQuote($event,i)' (isClick)=' upVoteQuote($event,i) '></app-quote-detail>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
        </div>
    </div>
</div>