<div class="container-fluid">
    <h2 class="text-center">Create a new Quote</h2>
    <hr>
    <form>
        <div class="form-group">
            <label for="name">Quote</label>
            <input type="text" required class="form-control" id="quote">
        </div>
        <div class="form-group">
            <label for="name">Author</label>
            <input type="text" required class="form-control" id="author">
        </div>
        <div class="form-group">
            <label for="name">Publisher</label>
            <input type="text" required class="form-control" id="publisher">
        </div>
    </form>
</div>